body, h1 h3{
    margin: 0;
}

.botton {
    margin-top: 300px;
}

.text { 
    width: 70%;
    margin: 0 auto;
}

.tekst {
    background-color: #555;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 30px;
    border: 3px solid orange;
}

.tekst h1{
    text-align: center;
    text-decoration: underline;
    font-family: sans-serif;
    color: white;
}

.tekst p {
    color: white;
}

.tekst-1 {
    margin-top: 30px;
    border: 3px dashed #555;
    padding: 20px';
}

.tekst-1 h1, tekst-1 p{
    color: #555;
}

.button {
    background-color: #222;
    color: #fff;
    font-size: 18px;
    border: 1px solid #222;
    padding: 10px 25px; 
    border-radius: 5px;
}

.button:hover {
    cursor: pointer;
    background-color: white;
    color: blue;
}

.tekst-2 {
    margin-top: 10px;
    border: 2px solid #222;
    padding: 20px;
}

.tekst-2 h1 {
    text-align: center;
    color: #555;
    font-family: sans-serif;
}

.categories {
    padding: 0px;
}

.categories li {
    color: blue;
    list-style-type: none;
    padding: 5px 0;
    border-bottom: 1px solid #555;
}

.myForm {

}

.myForm label {
    display: block;
    font-size: 20px;
    color: #555;
}

.myForm input, .myForm textarea{
    margin: 8px;
    padding: 5px;
    width: 100%;
}

.block {
    float: left;
    width: 33.3%;
    border: 1px solid #555;
    padding: 10px;
    box-sizing: border-box;
}

.clr {
    clear: both;
}

.main {
    float: left;
    padding: 100px;
}

.content {
    float: left;
    width: 70%;
}

.sidebar {
    float: left;
    width: 30%;
    background-color: #333;
    color: #fff;
    box-sizing: border-box;
    padding: 0 10px;
}

.relative {
    position: relative;
    top: 0;
    left: 200px;
    width: 512px;
    height: 512px;
    background-image: url(202306.jpg);
    background-size: cover;
}

.absolute {
    position: absolute;
    top: 50px;
} 

.fixed {
    position: fixed;
    left: 0;
    top: 50%;
}

.list-items li {
    color: #555;
    padding: 5px;
    list-style-type: none;
}

.list-items li:nth-child(even) {
    background-color: #ff0000;
    color: #fff;
}

.list-items li:nth-child(odd) {
    background-color: blue;
    color: #fff;
}